Caption {font-family: Arial; font-size: xx-large; color: navy}

table{
	width: 70%;
	border: 3px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
	text-align: center
}
tr,td {
	border: 2px solid black;
	}
img{
	width:100%
}
td#first{
	font-style: italic;
	font-weight: bold;
	text-align: center
	}
tr#second{
	background-color: yellow;
	
	}
tr.silver{
	background-color: silver;
	}
tr.lime{
	background-color: lime;
}
td#ming{
	width: 40%;
	Padding-right:10px;
	Padding-left:10px;
	Padding-top:10px;
	Padding-bottom:10px
}